{
  "openapi": "3.0.0",
  "info": {
    "title": "Cernion Energy Tools API",
    "version": "0.63.12",
    "description": "MicroService Agent System for Energy Markets - REST API with AI integration.\n\nCERNION_TOKEN: request at https://cernion.de/ or by email: dev@stromdao.com."
  },
  "servers": [
    {
      "url": "https://api.cernion.de",
      "description": "Cernion API Server"
    }
  ],
  "tags": [
    {
      "name": "Energy",
      "description": "Energy market operations"
    },
    {
      "name": "Example",
      "description": "Example service endpoints"
    },
    {
      "name": "DataSources",
      "description": "Inhouse datasource registry, cache, and discovery"
    },
    {
      "name": "VNBMonitor",
      "description": "VNB (grid operator) KPI monitoring and alerts"
    },
    {
      "name": "NBPMonitor",
      "description": "Netzbetreiberprüfungs-Monitor (MaStR status 2955 queue KPIs)"
    },
    {
      "name": "IntegrationHub",
      "description": "Token management and integration helpers"
    },
    {
      "name": "Authentication",
      "description": "OIDC/SAML session bootstrap and verification"
    },
    {
      "name": "Tenant Quotas",
      "description": "Tenant quota snapshots, events, and admin overrides"
    },
    {
      "name": "Jobs",
      "description": "Async job status and result polling (v0.9.8+)"
    },
    {
      "name": "Datapoints",
      "description": "Managed data source points with lifecycle tracking and health monitoring (v0.11)"
    },
    {
      "name": "OSM Geo (OpenStreetMap)",
      "description": "Layer 2 Geo-Architecture: physical grid infrastructure from OpenStreetMap via the Overpass API. Complements authoritative VNBDigital data (Layer 1) with visible substations, transformers, and lines. Data: © OpenStreetMap contributors, ODbL 1.0 — https://opendatacommons.org/licenses/odbl/"
    },
    {
      "name": "OEP (Open Energy Platform)",
      "description": "Read-only access to Open Energy Platform research and scenario datasets. No authentication required for public tables. Supports schema/table discovery, column metadata, row queries, and full-text search. API: https://openenergyplatform.org/api/v0"
    },
    {
      "name": "Knowledge RAG",
      "description": "HyDE-aware RAG access with tenant-local ingestion and vector indexing. Supports semantic search, scroll/fetch/collection info, collection lifecycle, datasource/audit ingestion, and reindex/cutover."
    },
    {
      "name": "Finance Agent",
      "description": "Deterministic finance/regulatory analysis for VNBs (v0.40). Performs query planning, ontology-aware RAG retrieval, L1/L2 evidence arbitration, and guarded synthesis with audit trail."
    },
    {
      "name": "Personal Agent",
      "description": "Interactive personal chat orchestration (v0.52). Builds deterministic L0-L4 context stacks with strict token budgeting. Layer 4 is transient and never persisted."
    },
    {
      "name": "Actor Personas",
      "description": "Tenant-scoped actor persona registry for HITL routing, notification ownership, and persona-aware inbox delivery."
    },
    {
      "name": "Grid Connection Validation",
      "description": "Deterministic 6-step Netzanschluss validation pipeline (v0.14). Produces structured findings and a Go/No-Go decision sealed with a PouchDB snapshot for audit integrity. No LLM involvement — identical inputs always produce identical finding codes."
    },
    {
      "name": "Energy Sharing Validation",
      "description": "Deterministic 6-step Energy Sharing community validation pipeline (v0.15). Validates generator MaStR records, Direktvermarkter status (§ 21 Abs. 2 EEG), share allocations, and § 42c EnWG eligibility. Interims-Prozess for VNBs ahead of § 20b EnWG central platform. No LLM involvement — identical inputs always produce identical finding codes."
    },
    {
      "name": "Energy Sharing Allocation",
      "description": "Deterministic 6-step Energy Sharing allocation engine (v0.16). Computes per-consumer 15-min allocation time-series (§ 12 StromNZV) for § 42c EnWG communities. Stufe A: synthetic forecast via mastr_generation_forecast. Stufe B: real iMSys metering data via inhouse CSV upload. KRITIS-compliant: time-series computed in RAM, only metadata persisted. Interimsprozess operative deadline: 01.06.2026 (§ 20b EnWG)."
    },
    {
      "name": "MaStR Data Quality",
      "description": "Deterministic 8-step MaStR portfolio quality audit (v0.17). Audits the entire VNB portfolio in MaStR: VNB identity → full inventory → status anomalies → capacity anomalies → connection point integrity → duplicate detection → geo spot check → audit trail. Returns a qualityScore (0–100) across 5 weighted dimensions. No LLM involvement. Steps 3–7 independently skippable via skipSteps parameter."
    },
    {
      "name": "Redispatch Ex-Post",
      "description": "Deterministic 7-step Redispatch 2.0 Ex-Post settlement audit (v0.18). Cross-references MaStR portfolio (≥100 kW) with Netztransparenz curtailment data: VNB identity → portfolio inventory → master data validation → curtailment correlation → settlement readiness → financial risk assessment → audit trail. Returns settlementReadiness (% of installations ready for A96 settlement) and riskAssessment (estimated lost compensation in €). No LLM involvement. Regulatory basis: §§ 13, 13a EnWG, NABEG, StromNZV, Redispatch 2.0 (BDEW/BNetzA). Steps 3–6 independently skippable via skipSteps parameter."
    },
    {
      "name": "Dashboard API",
      "description": "UI-optimised aggregate endpoints (v0.19). Each endpoint consolidates 4–7 internal service calls into a single response, reducing the roundtrips required for an Enterprise UI dashboard page to one. Read-only — no side-effects, no own PouchDB. Endpoints: vnb-overview (VNB identity + KPIs + latest agent results), market-snapshot (spot prices + CO₂ + renewable forecast), quality-summary (recent reports from all agent pipelines), observability-mini (compact health/incidents/performance cards), finding-codes (complete 100-code reference with metadata for UI tooltips)."
    },
    {
      "name": "Observability",
      "description": "Read-only production feedback endpoints (v0.40.7) for captured service log output, action performance metrics, compact operational summaries, and an agent-ready debugging prompt. Data is retained locally in PouchDB with redaction-safe storage."
    },
    {
      "name": "Companies",
      "description": "Company entity management (v0.20.3). Groups multiple BDEW market-partner codes that belong to the same economic unit (Konzernverbund / Stadtwerk). Supports autoDiscover (cernion_market_partners query → draft → confirm flow) and manual member management. enrichResults enriches market-partner search results with companyId + marketRole."
    },
    {
      "name": "Zielnetzplanung (ZNP)",
      "description": "Stateful workspace API for target grid planning (v0.20.4). Each project is an in-memory graphology graph for a geographic bounding box. Data Layers are loaded iteratively: Layer 0 (MaStR assets), Layer 1 (OSM buildings — stub), Layer 2 (transformer loads — stub). All assets in Layer 0 connect to a virtual substation SUB_1 (MaStR has no topology). Graph state is persisted in PouchDB (meta + graph split docs) and hydrated on service start. Project metadata (bbox, layer counts) is persisted alongside graph topology."
    },
    {
      "name": "Object Store",
      "description": "Generic namespaced document store backed by PouchDB (v0.20.5). Provides CRUD and Mango-query operations for frontend persistence (ZNP workspaces, user settings, etc.) without backend schema changes. Documents are keyed as namespace:key; namespace isolation enforced in all queries."
    },
    {
      "name": "Cookbook",
      "description": "Reusable API workflow recipes (v0.20.5). Code-managed community cookbook with semantic lookup, runtime relation graph, and periodic validity checks against live microservice actions."
    },
    {
      "name": "Agent Receipts",
      "description": "Runtime-managed receipt documents (v0.54.0 foundation). PouchDB-backed CRUD, validation, lifecycle status transitions, and auditable soft-delete."
    },
    {
      "name": "CYA Agent",
      "description": "Stakeholder-perspective argumentation engine with regulatory grounding (v0.26). Generates data-backed, profile-aware narratives from Cernion microservice data + OEO regulatory context."
    },
    {
      "name": "EDM (Energiedatenmanagement)",
      "description": "Meter data management with SQLite-backed timeseries storage, MeLo registry, and measurement concepts (v0.28). KRITIS-compliant embedded storage with quarterly partitioning."
    },
    {
      "name": "SLP (Standardlastprofile)",
      "description": "Standard load profiles (BDEW H0/G0/L0) and custom profiles for load estimation, settlement, and forecast baseline."
    },
    {
      "name": "Settlement (Abrechnung)",
      "description": "Redispatch compensation (§13a/14 EnWG), EEG revenue calculation, and A96 settlement export. Based on EDM timeseries, generation forecasts, and ENTSO-E market prices with KRITIS fallbacks."
    },
    {
      "name": "Forecast (Prognostik)",
      "description": "Load forecasting (SLP-based with historical correction), generation forecasting (MCP with KRITIS fallback), residual load calculation, Day-Ahead scheduling, storage dispatch optimization, and forecast quality evaluation (RMSE/MAE/MAPE)."
    },
    {
      "name": "Flex (§14a Flexibilitätsmanagement)",
      "description": "Controllable consumption device management (§14a EnWG). SVE registry, dimming planning with grid capacity analysis, MQTT-based execution, Entlastungsnachweis, and tariff reduction."
    },
    {
      "name": "MaStR Monitor",
      "description": "MaStR installation change monitoring with field-level delta detection and email notifications (v0.27). Watches track changes to MaStR installations based on saved queries with configurable schedules."
    },
    {
      "name": "HITL",
      "description": "Human-in-the-loop approval workflow with tenant-scoped review items, intervention trail, and lifecycle events."
    },
    {
      "name": "Investment Planning",
      "description": "Deterministic investment planning and budget steering (v0.51.2) with hybrid Soll baselines, Redispatch Ex-Post Ist comparison, mandate alignment checks, and >1M EUR HITL triggers."
    },
    {
      "name": "Blindflug Radar",
      "description": "Deterministic disturbance-to-investment signal correlation (v0.51.3) using Redispatch, MaStR monitor deltas, and quality findings with confidence-threshold auto-proposals."
    },
    {
      "name": "Netzfahrplan / fNAV",
      "description": "Deterministic fNAV feasibility assessment (v0.51.5): capacity model (firm + flexible + curtailment), N-1 check with hybrid threshold (domain default + tenant/project/scenario override), technical feasibility verdict, governance gate (Option B: requires_governance_decision until legal + contract prerequisites met), and TOTEX-based economics with eog-calculator integration."
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook subscriptions with signed delivery, retry backoff, replay, and dead-letter tracking."
    },
    {
      "name": "Interface Placeholder",
      "description": "Explicit gap markers for unresolved interfaces, evidence, and ownership"
    }
  ],
  "paths": {
    "/api/agent-persona/personas/:id/availability": {
      "put": {
        "operationId": "agent-persona_updateAvailability",
        "summary": "Update persona availability status and windows",
        "tags": [
          "Actor Personas"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Tenant-Id",
            "in": "header",
            "required": false,
            "description": "Tenant scope for the actor persona registry. The API gateway injects the resolved tenant into action params as tenantId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "description": "Optional tenant fallback when the X-Tenant-Id header is not provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Persona identifier within the tenant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "available": {
                    "type": "boolean",
                    "example": true
                  },
                  "availabilityWindow": {
                    "type": "object",
                    "properties": {
                      "startHour": {
                        "type": "integer",
                        "example": 9
                      },
                      "endHour": {
                        "type": "integer",
                        "example": 17
                      },
                      "timezone": {
                        "type": "string",
                        "example": "Europe/Berlin"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-persona/personas/:id/record-activity": {
      "post": {
        "operationId": "agent-persona_recordPersonaActivity",
        "summary": "Record persona last-seen activity for availability tracking",
        "tags": [
          "Actor Personas"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "X-Tenant-Id",
            "in": "header",
            "required": false,
            "description": "Tenant scope for the actor persona registry. The API gateway injects the resolved tenant into action params as tenantId.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tenantId",
            "in": "query",
            "required": false,
            "description": "Optional tenant fallback when the X-Tenant-Id header is not provided.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Persona identifier within the tenant.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "activityType": {
                    "type": "string",
                    "example": "interaction",
                    "enum": [
                      "interaction",
                      "approval",
                      "message"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/": {
      "post": {
        "operationId": "agent-receipts_create",
        "summary": "Create an agent receipt",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Creates a runtime-managed receipt with validated schema and auditable lifecycle metadata.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "receiptId",
                  "title",
                  "description",
                  "domain",
                  "matching",
                  "toolPlan"
                ],
                "properties": {
                  "receiptId": {
                    "type": "string",
                    "example": "bess-screening-v1"
                  },
                  "title": {
                    "type": "string",
                    "example": "BESS Screening Baseline"
                  },
                  "description": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string",
                    "example": "grid-operations"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "matching": {
                    "type": "object"
                  },
                  "requiredInputs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "toolPlan": {
                    "type": "object"
                  },
                  "knowledgeQueries": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "knowledgeEvidencePolicy": {
                    "type": "object"
                  },
                  "knowledgePlan": {
                    "type": "object"
                  },
                  "evidencePolicy": {
                    "type": "object"
                  },
                  "forbiddenInferences": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "responsePolicy": {
                    "type": "object"
                  },
                  "defaults": {
                    "type": "object"
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "active",
                      "deprecated",
                      "archived"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "agent-receipts_list",
        "summary": "List agent receipts",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "draft",
                "active",
                "deprecated",
                "archived"
              ]
            }
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ]
      }
    },
    "/api/agent-receipts/select": {
      "post": {
        "operationId": "agent-receipts_select",
        "summary": "Select a runtime receipt for Personal Agent orchestration",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "message": {
                    "type": "string",
                    "example": "Wer ist der zuständige VNB in Trier?"
                  },
                  "question": {
                    "type": "string",
                    "example": "Wer ist der zuständige Netzbetreiber?"
                  },
                  "knownContext": {
                    "type": "object",
                    "default": {},
                    "example": {
                      "city": "Wiesloch"
                    }
                  },
                  "context": {
                    "type": "object",
                    "default": {},
                    "example": {}
                  },
                  "input": {
                    "type": "object",
                    "default": {},
                    "example": {}
                  },
                  "city": {
                    "type": "string",
                    "example": "Wiesloch"
                  },
                  "bdewCode": {
                    "type": "string",
                    "example": "9900992720003"
                  },
                  "vnbName": {
                    "type": "string",
                    "example": "STROMDAO Netze GmbH"
                  },
                  "forceReceipt": {
                    "type": "string",
                    "example": "vnb-lookup-v1"
                  },
                  "preferredReceipts": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "vnb-lookup-v1",
                      "grid-ops-fallback-v1"
                    ]
                  },
                  "allowDraftReceipts": {
                    "type": "boolean",
                    "default": false
                  },
                  "explainReceiptSelection": {
                    "type": "boolean",
                    "default": false
                  },
                  "disableReceiptSelection": {
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "examples": {
                "preferredMatching": {
                  "summary": "Prefer a list of receipts with diagnostics enabled",
                  "value": {
                    "message": "Bitte finde den zuständigen VNB in Trier.",
                    "preferredReceipts": [
                      "vnb-lookup-v1",
                      "grid-ops-fallback-v1"
                    ],
                    "explainReceiptSelection": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id": {
      "get": {
        "operationId": "agent-receipts_get",
        "summary": "Get an agent receipt by id",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bess-screening-v1"
            }
          }
        ]
      },
      "put": {
        "operationId": "agent-receipts_update",
        "summary": "Update an agent receipt",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "agent-receipts_archive",
        "summary": "Archive an agent receipt (soft delete)",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/status": {
      "post": {
        "operationId": "agent-receipts_setStatus",
        "summary": "Set receipt lifecycle status",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "bess-screening-v1"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "active",
                      "deprecated",
                      "archived"
                    ]
                  },
                  "reason": {
                    "type": "string"
                  },
                  "_rev": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/propose": {
      "post": {
        "operationId": "agent-receipts_proposeDraft",
        "summary": "Propose a new draft receipt (governed learning loop)",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Creates a receipt in draft status only. Chat and automated flows must use this path instead of create. The receipt is pending review and must be explicitly promoted before becoming active.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "receiptId",
                  "title",
                  "description",
                  "domain",
                  "matching",
                  "toolPlan"
                ],
                "properties": {
                  "receiptId": {
                    "type": "string",
                    "example": "vnb-lookup-v2"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "domain": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "matching": {
                    "type": "object"
                  },
                  "requiredInputs": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "toolPlan": {
                    "type": "object"
                  },
                  "creatorId": {
                    "type": "string",
                    "nullable": true,
                    "description": "Identity of the creator (user id, agent name, etc)."
                  },
                  "creatorSource": {
                    "type": "string",
                    "enum": [
                      "chat",
                      "admin",
                      "api",
                      "seed"
                    ],
                    "default": "api",
                    "description": "Origin of the proposal. Chat-originated proposals must use chat."
                  },
                  "changeReason": {
                    "type": "string",
                    "description": "Optional human-readable reason for this proposal."
                  },
                  "supersedes": {
                    "type": "string",
                    "description": "Optional receiptId of an active receipt this draft intends to supersede upon promotion."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/promote": {
      "post": {
        "operationId": "agent-receipts_promote",
        "summary": "Promote a draft receipt to active (explicit review gate)",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Transitions a draft receipt to active. Requires promotedBy identity. Validates the receipt fully before promotion. Optionally auto-deprecates a superseded active receipt. Requires _rev for CAS conflict protection.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "vnb-lookup-v2"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "promotedBy"
                ],
                "properties": {
                  "promotedBy": {
                    "type": "string",
                    "description": "Identity of the reviewer who approved promotion.",
                    "example": "admin@example.com"
                  },
                  "changeReason": {
                    "type": "string"
                  },
                  "supersedes": {
                    "type": "string",
                    "description": "Optional receiptId of an active receipt to auto-deprecate on promotion. Falls back to supersedes field stored on the draft."
                  },
                  "_rev": {
                    "type": "string",
                    "nullable": true,
                    "description": "CAS revision token. Prevents concurrent promotion race conditions."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/validate": {
      "post": {
        "operationId": "agent-receipts_validate",
        "summary": "Validate receipt payload or persisted receipt",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "bess-screening-v1"
                  },
                  "receipt": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/validate": {
      "post": {
        "operationId": "agent-receipts_validateStored",
        "summary": "Validate a persisted receipt with optional live registry checks",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mastr-asset-inventory-by-location"
            }
          }
        ]
      }
    },
    "/api/agent-receipts/evaluate": {
      "post": {
        "operationId": "agent-receipts_evaluate",
        "summary": "Evaluate receipt match and execution plan without running tools",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/evaluate": {
      "post": {
        "operationId": "agent-receipts_evaluateStored",
        "summary": "Evaluate persisted receipt by id",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mastr-asset-inventory-by-location"
            }
          }
        ]
      }
    },
    "/api/agent-receipts/test": {
      "post": {
        "operationId": "agent-receipts_test",
        "summary": "Test receipt planning and return runnable execution details",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/test": {
      "post": {
        "operationId": "agent-receipts_testStored",
        "summary": "Test persisted receipt by id",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mastr-asset-inventory-by-location"
            }
          }
        ]
      }
    },
    "/api/agent-receipts/explain": {
      "post": {
        "operationId": "agent-receipts_explain",
        "summary": "Explain why a receipt matched or failed and what would run",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agent-receipts/:id/explain": {
      "post": {
        "operationId": "agent-receipts_explainStored",
        "summary": "Explain persisted receipt by id",
        "tags": [
          "Agent Receipts"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "mastr-asset-inventory-by-location"
            }
          }
        ]
      }
    },
    "/api/agent/analyze": {
      "post": {
        "operationId": "agent_analyze",
        "summary": "Analyze a natural-language energy problem and return an execution plan",
        "tags": [
          "AI Agent"
        ],
        "responses": {
          "200": {
            "description": "Execution plan with required user parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "steps": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "step": {
                            "type": "number"
                          },
                          "service": {
                            "type": "string"
                          },
                          "action": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "params": {
                            "type": "object"
                          }
                        }
                      }
                    },
                    "requiredInputs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "example": {
                            "type": "string"
                          },
                          "required": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Uses Gemini to reason about the user problem and select which microservices to call, in which order, and which parameters are needed from the user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "problem"
                ],
                "properties": {
                  "problem": {
                    "type": "string",
                    "description": "Free-text energy research problem or question",
                    "example": "What is the current gas storage level in Germany and is it sufficient for winter?"
                  }
                }
              },
              "examples": {
                "storageSufficiency": {
                  "summary": "Analyze a storage sufficiency question",
                  "value": {
                    "problem": "What is the current gas storage level in Germany and is it sufficient for winter?"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/execute": {
      "post": {
        "operationId": "agent_execute",
        "summary": "Execute the planned steps with user-provided parameter values",
        "tags": [
          "AI Agent"
        ],
        "responses": {
          "200": {
            "description": "Execution results or re-plan if refinement provided"
          }
        },
        "description": "Runs the execution plan produced by /agent/analyze, substituting user inputs into step params and calling each microservice in sequence. Optionally accepts a free-text refinement which triggers a re-plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "description": "Session ID returned by /agent/analyze",
                    "example": "2a70e478-90ce-4fa5-b996-6f98efdba7cf"
                  },
                  "userInputs": {
                    "type": "object",
                    "description": "Key-value map of required input values",
                    "example": {
                      "country": "de",
                      "date": "2026-02-01"
                    }
                  },
                  "refinement": {
                    "type": "string",
                    "description": "Optional free-text refinement or follow-up question",
                    "example": "Focus on Bavaria and include the next 7 days"
                  }
                }
              },
              "examples": {
                "executePlan": {
                  "summary": "Execute an analyzed plan",
                  "value": {
                    "sessionId": "2a70e478-90ce-4fa5-b996-6f98efdba7cf",
                    "userInputs": {
                      "country": "de",
                      "date": "2026-02-01"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agent/session/:id": {
      "get": {
        "operationId": "agent_getSession",
        "summary": "Retrieve a persisted agent session by ID",
        "tags": [
          "AI Agent"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Load a previously executed session so the user can revisit results or re-run.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2a70e478-90ce-4fa5-b996-6f98efdba7cf"
            },
            "description": "Session UUID returned by /agent/analyze"
          }
        ]
      }
    },
    "/api/agent/session/:id/csv": {
      "get": {
        "operationId": "agent_csvExport",
        "summary": "Re-run the session plan and export results as CSV",
        "tags": [
          "AI Agent"
        ],
        "responses": {
          "200": {
            "description": "CSV file",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Re-executes the full plan with the saved user inputs, injects format=csv into the last data step, and returns a fresh CSV file. The data is always fetched live from the source.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2a70e478-90ce-4fa5-b996-6f98efdba7cf"
            },
            "description": "Session UUID"
          }
        ]
      }
    },
    "/api/agent/rerun": {
      "post": {
        "operationId": "agent_rerun",
        "summary": "Re-run a completed session with the same plan and inputs",
        "tags": [
          "AI Agent"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Useful for the shareable-URL feature: load a session and re-execute it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "sessionId"
                ],
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "example": "2a70e478-90ce-4fa5-b996-6f98efdba7cf"
                  }
                }
              },
              "examples": {
                "rerunSession": {
                  "summary": "Re-run a previous session",
                  "value": {
                    "sessionId": "2a70e478-90ce-4fa5-b996-6f98efdba7cf"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/agnes-bottleneck/assessments": {
      "post": {
        "operationId": "agnes-bottleneck_assess",
        "summary": "agnes-bottleneck.assess",
        "tags": [
          "agnes-bottleneck"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "agnes-bottleneck_list",
        "summary": "agnes-bottleneck.list",
        "tags": [
          "agnes-bottleneck"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/agnes-bottleneck/assessments/:id": {
      "get": {
        "operationId": "agnes-bottleneck_get",
        "summary": "agnes-bottleneck.get",
        "tags": [
          "agnes-bottleneck"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/altdaten-assessment/assessments": {
      "post": {
        "operationId": "altdaten-assessment_assess",
        "summary": "altdaten-assessment.assess",
        "tags": [
          "altdaten-assessment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "altdaten-assessment_list",
        "summary": "altdaten-assessment.list",
        "tags": [
          "altdaten-assessment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/altdaten-assessment/assessments/:id": {
      "get": {
        "operationId": "altdaten-assessment_get",
        "summary": "altdaten-assessment.get",
        "tags": [
          "altdaten-assessment"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/api/openapi.json": {
      "get": {
        "operationId": "api_openapi",
        "summary": "api.openapi",
        "tags": [
          "api"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/api/openapi-copilot.json": {
      "get": {
        "operationId": "api_openapiCopilot",
        "summary": "api.openapiCopilot",
        "tags": [
          "api"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/assets/:assetId/override": {
      "post": {
        "operationId": "assets_override",
        "summary": "Create persistent asset override",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Creates a tenant-scoped asset override with provenance hash. Critical fields are persisted with `pendingApproval` and linked HITL item.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "assetId",
                  "field",
                  "value",
                  "reason"
                ],
                "properties": {
                  "assetId": {
                    "type": "string",
                    "example": "SEE900123456789"
                  },
                  "mastrNummer": {
                    "type": "string",
                    "example": "SEE900123456789"
                  },
                  "field": {
                    "type": "string",
                    "example": "capacityKW"
                  },
                  "value": {
                    "example": 1250
                  },
                  "reason": {
                    "type": "string",
                    "example": "Manual correction from operator"
                  },
                  "approvedBy": {
                    "type": "string",
                    "enum": [
                      "user",
                      "agent"
                    ],
                    "example": "user"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "assetId": "SEE900123456789",
                    "field": "capacityKW",
                    "value": 1250,
                    "reason": "Manual correction from operator",
                    "approvedBy": "user"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/assets/:assetId/overrides": {
      "get": {
        "operationId": "assets_overrides",
        "summary": "List all overrides for an asset",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SEE900123456789"
            }
          }
        ]
      }
    },
    "/api/assets/:assetId/effective": {
      "get": {
        "operationId": "assets_effective",
        "summary": "Get effective asset view (MaStR + applied overrides)",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "SEE900123456789"
            }
          },
          {
            "name": "vnbName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "STROMDAO Netze"
            }
          },
          {
            "name": "bdewCode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "9907473000008"
            }
          },
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB935578300972"
            }
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Ludwigshafen"
            }
          },
          {
            "name": "assetType",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "solar",
                "wind",
                "storage",
                "biomass",
                "hydro",
                "combustion",
                "all"
              ],
              "default": "all"
            }
          }
        ]
      }
    },
    "/api/assets/:assetId/overrides/:id/apply": {
      "post": {
        "operationId": "assets_applyOverride",
        "summary": "Apply a persisted override after approval",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "assetId",
                  "id"
                ],
                "properties": {
                  "assetId": {
                    "type": "string",
                    "example": "SEE900123456789"
                  },
                  "id": {
                    "type": "string",
                    "example": "ovr_SEE900123456789_1a2b3c4d"
                  }
                }
              },
              "examples": {
                "default": {
                  "value": {
                    "assetId": "SEE900123456789",
                    "id": "ovr_SEE900123456789_1a2b3c4d"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/assets/:assetId/overrides/:id": {
      "delete": {
        "operationId": "assets_removeOverride",
        "summary": "Soft-revert an override",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/assets/list": {
      "get": {
        "operationId": "assets_list",
        "summary": "List assets of a distribution network operator (DNO/DSO)",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "List of installations with complete MaStR data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "SEE Nummer": {
                        "type": "string",
                        "description": "MaStR unit ID (SEE/SBE/SWE format)",
                        "example": "SEE913735587817"
                      },
                      "Einheit Systemstatus": {
                        "type": "string",
                        "nullable": true,
                        "description": "System status of the unit"
                      },
                      "Betreiber": {
                        "type": "string",
                        "description": "Name of the installation operator",
                        "example": "PVA Langenenslingen"
                      },
                      "Marktaktuer MaStR": {
                        "type": "string",
                        "nullable": true,
                        "description": "MaStR ID of direct marketer"
                      },
                      "Marktakteuer Name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of direct marketer"
                      },
                      "Marktakteur Adresse": {
                        "type": "string",
                        "nullable": true,
                        "description": "Address of direct marketer"
                      },
                      "Netzbetreiber MaStR": {
                        "type": "string",
                        "nullable": true,
                        "description": "MaStR ID of grid operator"
                      },
                      "Netzbetreiber Name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Name of grid operator"
                      },
                      "Anlagentyp": {
                        "type": "string",
                        "description": "Type of installation",
                        "enum": [
                          "solar",
                          "wind",
                          "storage",
                          "biomass",
                          "hydro",
                          "combustion"
                        ]
                      },
                      "Leistung MW": {
                        "type": "number",
                        "description": "Gross capacity in megawatts (MW)",
                        "example": 80.3088
                      },
                      "Leistung kW": {
                        "type": "number",
                        "description": "Gross capacity in kilowatts (kW)",
                        "example": 80308.8
                      },
                      "Wechselrichterleistung": {
                        "type": "number",
                        "nullable": true,
                        "description": "Inverter capacity in kW (PV/storage only)"
                      },
                      "Technologie": {
                        "type": "string",
                        "description": "Technology type (e.g., solar, wind)",
                        "example": "solar"
                      },
                      "Speicherkapazität": {
                        "type": "number",
                        "nullable": true,
                        "description": "Usable storage capacity in kWh (storage only)"
                      },
                      "C_Rate": {
                        "type": "number",
                        "nullable": true,
                        "description": "C-Rate for storage (power/capacity)"
                      },
                      "AC Nennleistung": {
                        "type": "number",
                        "nullable": true,
                        "description": "AC nominal power in kW (storage only)"
                      },
                      "DC Nennleistung": {
                        "type": "number",
                        "nullable": true,
                        "description": "DC nominal power in kW (storage only)"
                      },
                      "Batterietechnologie": {
                        "type": "string",
                        "nullable": true,
                        "description": "Battery technology type (storage only)"
                      },
                      "Hersteller Batteriemodule": {
                        "type": "string",
                        "nullable": true,
                        "description": "Battery module manufacturer (storage only)"
                      },
                      "Hauptausrichtung": {
                        "type": "string",
                        "nullable": true,
                        "description": "Main orientation (solar only, e.g., Süd, Ost-West)"
                      },
                      "Neigungswinkel": {
                        "type": "number",
                        "nullable": true,
                        "description": "Tilt angle in degrees (solar only)"
                      },
                      "Leistungsbegrenzung": {
                        "type": "string",
                        "nullable": true,
                        "description": "Power limitation (solar only)"
                      },
                      "Nabenhöhe": {
                        "type": "number",
                        "nullable": true,
                        "description": "Hub height in meters (wind only)"
                      },
                      "Rotordurchmesser": {
                        "type": "number",
                        "nullable": true,
                        "description": "Rotor diameter in meters (wind only)"
                      },
                      "Hersteller": {
                        "type": "string",
                        "nullable": true,
                        "description": "Manufacturer (wind only)"
                      },
                      "Typenbezeichnung": {
                        "type": "string",
                        "nullable": true,
                        "description": "Type designation (wind only)"
                      },
                      "Betriebsstatus": {
                        "type": "string",
                        "description": "Operational status code: 31=Planned, 35=In operation, 37=Temporarily decommissioned, 38=Permanently decommissioned",
                        "example": "35",
                        "nullable": true
                      },
                      "Betriebsstatus Name": {
                        "type": "string",
                        "description": "Operational status name in German",
                        "example": "In Betrieb",
                        "nullable": true
                      },
                      "Datum Netzzugang": {
                        "type": "string",
                        "format": "date",
                        "description": "Commissioning date (ISO 8601)",
                        "example": "2025-05-27"
                      },
                      "Registrierungsdatum": {
                        "type": "string",
                        "format": "date",
                        "nullable": true,
                        "description": "Registration date"
                      },
                      "Genehmigungsdatum": {
                        "type": "string",
                        "format": "date",
                        "nullable": true,
                        "description": "Approval date"
                      },
                      "Kopplung": {
                        "type": "string",
                        "nullable": true,
                        "description": "AC/DC coupling (storage only)"
                      },
                      "Einspeiseart": {
                        "type": "string",
                        "nullable": true,
                        "description": "Feed-in type (e.g., full feed-in, surplus feed-in)",
                        "example": "Überschusseinspeisung"
                      },
                      "Spannungsebene": {
                        "type": "string",
                        "nullable": true,
                        "description": "Voltage level (NS/MS/HS)"
                      },
                      "Fernsteuerbarkeit": {
                        "type": "string",
                        "nullable": true,
                        "description": "Remote controllability"
                      },
                      "Einsatzverantwortlicher": {
                        "type": "string",
                        "nullable": true,
                        "description": "Deployment responsible party"
                      },
                      "Postleitzahl": {
                        "type": "string",
                        "nullable": true,
                        "description": "Postal code of installation location",
                        "example": "88515"
                      },
                      "Ort": {
                        "type": "string",
                        "nullable": true,
                        "description": "City of installation location",
                        "example": "Langenenslingen"
                      },
                      "Gemeinde": {
                        "type": "string",
                        "nullable": true,
                        "description": "Municipality of installation location",
                        "example": "Langenenslingen"
                      },
                      "Landkreis": {
                        "type": "string",
                        "nullable": true,
                        "description": "District of installation location",
                        "example": "Biberach"
                      },
                      "Bundesland": {
                        "type": "string",
                        "nullable": true,
                        "description": "Federal state code",
                        "example": "1402"
                      },
                      "Längengrad": {
                        "type": "number",
                        "nullable": true,
                        "description": "Longitude coordinate"
                      },
                      "Breitengrad": {
                        "type": "number",
                        "nullable": true,
                        "description": "Latitude coordinate"
                      },
                      "Fläche": {
                        "type": "number",
                        "nullable": true,
                        "description": "Used area in m²"
                      },
                      "Anzahl Module": {
                        "type": "number",
                        "nullable": true,
                        "description": "Number of modules (solar only)"
                      },
                      "Leistung je Modul": {
                        "type": "number",
                        "nullable": true,
                        "description": "Power per module in W (solar only)"
                      },
                      "Netzbetreiberpruefung Status": {
                        "type": "number",
                        "nullable": true,
                        "description": "Grid operator review status code: 2954=Geprüft, 2955=In Prüfung, 3075=Nicht vorgesehen, null=older record",
                        "example": 2954
                      },
                      "Netzbetreiberpruefung Status Name": {
                        "type": "string",
                        "nullable": true,
                        "description": "Grid operator review status label: Geprüft / In Prüfung / Nicht vorgesehen",
                        "example": "Geprüft"
                      },
                      "NAP MaStR Nummer": {
                        "type": "string",
                        "nullable": true,
                        "description": "MaStR ID of the grid connection point (SAN format)",
                        "example": "SAN914634531048"
                      },
                      "Messlokation (MeLo)": {
                        "type": "string",
                        "nullable": true,
                        "description": "Metering location ID (DE..., 33 chars)",
                        "example": "DE0003976706990000000000000073131"
                      },
                      "Spannungsebene NAP": {
                        "type": "string",
                        "nullable": true,
                        "description": "Voltage level at grid connection: Niederspannung / Mittelspannung / Hochspannung / Höchstspannung",
                        "example": "Niederspannung (LV)"
                      },
                      "Nettoengpassleistung kW": {
                        "type": "number",
                        "nullable": true,
                        "description": "Net bottleneck capacity in kW at grid connection point",
                        "example": 6.15
                      },
                      "Netz MaStR Nummer": {
                        "type": "string",
                        "nullable": true,
                        "description": "MaStR ID of the connected grid (SNE format)",
                        "example": "SNE985057905075"
                      },
                      "Netzbetreiber NAP MaStR": {
                        "type": "string",
                        "nullable": true,
                        "description": "MaStR ID of the grid operator at the connection point (SNB format)",
                        "example": "SNB935578300972"
                      }
                    },
                    "required": [
                      "SEE Nummer",
                      "Betreiber",
                      "Anlagentyp",
                      "Leistung MW",
                      "Technologie"
                    ]
                  }
                },
                "examples": {
                  "netze_bw_solar": {
                    "summary": "Netze BW - Solar installations >100kW",
                    "value": [
                      {
                        "SEE Nummer": "SEE913735587817",
                        "Betreiber": "PVA Langenenslingen",
                        "Anlagentyp": "solar",
                        "Leistung MW": 80.3088,
                        "Datum Netzzugang": "2025-05-27",
                        "Technologie": "solar",
                        "Einspeiseart": "Überschusseinspeisung",
                        "Postleitzahl": "88515",
                        "Ort": "Langenenslingen",
                        "Gemeinde": "Langenenslingen",
                        "Landkreis": "Biberach",
                        "Bundesland": "1402"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (missing grid operator details or invalid assetType)"
          },
          "500": {
            "description": "Internal server error during MaStR query"
          }
        },
        "description": "Retrieves complete installation data from the German Marktstammdatenregister (MaStR). Supports filtering by grid operator (BDEW code or name), asset type, capacity, commissioning year, and operational status. **Default behavior: Only active installations (status 35 - In operation) are returned.** No pagination required - can retrieve millions of installations.",
        "parameters": [
          {
            "name": "vnbName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Netze BW"
            },
            "description": "Name of the distribution network operator (fuzzy matching supported)"
          },
          {
            "name": "bdewCode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4041407000008"
            },
            "description": "BDEW code (13 digits) - more precise than name"
          },
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB948311994307"
            },
            "description": "MaStR grid operator ID (SNB/GNB format) - direct ID without resolution"
          },
          {
            "name": "assetType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "solar",
                "wind",
                "storage",
                "biomass",
                "hydro",
                "combustion"
              ],
              "example": "solar"
            },
            "description": "Asset type: solar (PV), wind, storage (battery), biomass (biogas), hydro (hydropower), combustion"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Heidelberg"
            },
            "description": "City/region/postal code for geographic filtering (optional)"
          },
          {
            "name": "commissioningYear",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 2020
            },
            "description": "Filter by commissioning year (optional)"
          },
          {
            "name": "minCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "Minimum capacity in kW (optional)"
          },
          {
            "name": "maxCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10000
            },
            "description": "Maximum capacity in kW (optional)"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000,
              "example": 1000
            },
            "description": "Max. number of results. Default: **1,000**. Use a high value (e.g. `1000000`) or `all` for the complete result set — the server paginates internally."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0,
              "example": 0
            },
            "description": "Pagination offset — number of records to skip. Use with `limit` to page through large result sets (e.g. `offset=1000&limit=1000` fetches records 1,001–2,000)."
          },
          {
            "name": "redispatch",
            "in": "query",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Redispatch 2.0 filter: Only installations ≥100kW (automatically sets minCapacityKW=100)"
          },
          {
            "name": "operationalStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "35",
              "example": "35"
            },
            "description": "Operational status: 31=Planned, 35=In operation (default), 37=Temporarily decommissioned, 38=Permanently decommissioned, all=All statuses"
          },
          {
            "name": "netzbetreiberPruefungStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2955"
            },
            "description": "Filter by grid operator verification status code(s), comma-separated. Values: 2954=Geprüft ✅, 2955=In Prüfung ⏳, 3075=Nicht vorgesehen."
          },
          {
            "name": "includeNapData",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true,
              "example": true
            },
            "description": "Include NAP data (Netzanschlusspunkt): MeLo, voltage level, grid bottleneck capacity. Default: true. Set to false to speed up large queries."
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-24"
            },
            "description": "ISO date (YYYY-MM-DD or full ISO 8601). Returns only installations where DatumLetzteMeldung (MaStR last-notification date) is after this date. Useful for incremental sync."
          }
        ],
        "x-oeo-class": [
          "https://openenergyplatform.org/ontology/oeo/OEO_00000031"
        ]
      }
    },
    "/api/assets/solar": {
      "get": {
        "operationId": "assets_solar",
        "summary": "List solar PV installations by grid operator or location",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Array of matching installations. Count/aggregation can be derived via response length (`array.length`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "Asset-ID": {
                        "type": "string"
                      },
                      "SEE Nummer": {
                        "type": "string"
                      },
                      "Anlagentyp": {
                        "type": "string"
                      },
                      "Leistung kW": {
                        "type": "number"
                      },
                      "Ort": {
                        "type": "string",
                        "nullable": true
                      },
                      "Postleitzahl": {
                        "type": "string",
                        "nullable": true
                      },
                      "Bundesland": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (at least one of vnbName, bdewCode, gridOperatorId or location is required)."
          },
          "500": {
            "description": "Internal server error during MaStR query."
          }
        },
        "description": "Retrieves photovoltaic installations from MaStR by grid operator context (`vnbName`, `bdewCode`, `gridOperatorId`) or directly by `location` (city/region/postal code). **Default: Only active installations (status 35).** Count semantics: this endpoint returns an array. For questions like \"How many ...\", use the number of returned items (`array.length`). Example: /api/assets/solar?location=Mainz",
        "parameters": [
          {
            "name": "vnbName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Netze BW"
            },
            "description": "Name of grid operator"
          },
          {
            "name": "bdewCode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4041407000008"
            },
            "description": "BDEW code (13 digits)"
          },
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB948311994307"
            },
            "description": "MaStR grid operator ID"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Heidelberg"
            },
            "description": "City/region/postal code for location-based search (e.g. \"Mainz\", \"69115\", \"Baden-Württemberg\"). Supports city-style queries like \"Wie viele PV Anlagen gibt es in <Ort>?\"."
          },
          {
            "name": "commissioningYear",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 2020
            },
            "description": "Commissioning year"
          },
          {
            "name": "minCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "Min. capacity in kW"
          },
          {
            "name": "maxCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10000
            },
            "description": "Max. capacity in kW"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000,
              "example": 1000
            },
            "description": "Max. number of results. Default: **1,000**. Use a high value (e.g. `1000000`) or `all` for the complete result set — the server paginates internally."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0,
              "example": 0
            },
            "description": "Pagination offset — skip this many records. Use `offset=1000` to fetch the next page."
          },
          {
            "name": "redispatch",
            "in": "query",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Redispatch 2.0 filter (≥100kW)"
          },
          {
            "name": "operationalStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "35",
              "example": "35"
            },
            "description": "Operational status: 31=Planned, 35=In operation (default), 37=Temporarily decommissioned, 38=Permanently decommissioned, all=All statuses"
          },
          {
            "name": "netzbetreiberPruefungStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2955"
            },
            "description": "Filter by grid operator verification status code(s), comma-separated. Values: 2954=Geprüft ✅, 2955=In Prüfung ⏳, 3075=Nicht vorgesehen."
          },
          {
            "name": "includeNapData",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include NAP data (MeLo, voltage level, bottleneck capacity). Default: true"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-24"
            },
            "description": "ISO date — only installations with lastUpdatedAt (DatumLetzteMeldung) after this date."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "xlsx"
              ],
              "default": "json"
            },
            "description": "Output format (default: json)"
          }
        ],
        "x-oeo-class": [
          "https://openenergyplatform.org/ontology/oeo/OEO_00000034"
        ]
      }
    },
    "/api/assets/wind": {
      "get": {
        "operationId": "assets_wind",
        "summary": "List wind installations by grid operator or location",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Array of matching installations. Count/aggregation can be derived via response length (`array.length`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "Asset-ID": {
                        "type": "string"
                      },
                      "SEE Nummer": {
                        "type": "string"
                      },
                      "Anlagentyp": {
                        "type": "string"
                      },
                      "Leistung kW": {
                        "type": "number"
                      },
                      "Ort": {
                        "type": "string",
                        "nullable": true
                      },
                      "Postleitzahl": {
                        "type": "string",
                        "nullable": true
                      },
                      "Bundesland": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (at least one of vnbName, bdewCode, gridOperatorId or location is required)."
          },
          "500": {
            "description": "Internal server error during MaStR query."
          }
        },
        "description": "Retrieves wind installations from MaStR by grid operator context (`vnbName`, `bdewCode`, `gridOperatorId`) or directly by `location` (city/region/postal code). **Default: Only active installations (status 35).** Count semantics: this endpoint returns an array. For questions like \"How many ...\", use the number of returned items (`array.length`).",
        "parameters": [
          {
            "name": "vnbName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Netze BW"
            },
            "description": "Name of grid operator"
          },
          {
            "name": "bdewCode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4041407000008"
            },
            "description": "BDEW code (13 digits)"
          },
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB948311994307"
            },
            "description": "MaStR grid operator ID"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Heidelberg"
            },
            "description": "City/region/postal code for location-based search (e.g. \"Mainz\", \"69115\", \"Baden-Württemberg\"). Supports city-style queries like \"Wie viele Windanlagen gibt es in <Ort>?\"."
          },
          {
            "name": "commissioningYear",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 2020
            },
            "description": "Commissioning year"
          },
          {
            "name": "minCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "Min. capacity in kW"
          },
          {
            "name": "maxCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10000
            },
            "description": "Max. capacity in kW"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000,
              "example": 1000
            },
            "description": "Max. number of results. Default: **1,000**. Use a high value (e.g. `1000000`) or `all` for the complete result set — the server paginates internally."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0,
              "example": 0
            },
            "description": "Pagination offset — skip N records to fetch the next page."
          },
          {
            "name": "redispatch",
            "in": "query",
            "schema": {
              "type": "boolean",
              "example": true
            },
            "description": "Redispatch 2.0 (≥100kW)"
          },
          {
            "name": "operationalStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "35",
              "example": "35"
            },
            "description": "Operational status: 31=Planned, 35=In operation (default), 37=Temporarily decommissioned, 38=Permanently decommissioned, all=All"
          },
          {
            "name": "netzbetreiberPruefungStatus",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2955"
            },
            "description": "Filter by grid operator verification status code(s), comma-separated. Values: 2954=Geprüft ✅, 2955=In Prüfung ⏳, 3075=Nicht vorgesehen."
          },
          {
            "name": "includeNapData",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "Include NAP data (MeLo, voltage level, bottleneck capacity). Default: true"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2026-03-24"
            },
            "description": "ISO date — only installations with lastUpdatedAt (DatumLetzteMeldung) after this date."
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "csv",
                "xlsx"
              ],
              "default": "json"
            },
            "description": "Output format (default: json)"
          }
        ],
        "x-oeo-class": [
          "https://openenergyplatform.org/ontology/oeo/OEO_00000044"
        ]
      }
    },
    "/api/assets/storage": {
      "get": {
        "operationId": "assets_storage",
        "summary": "List battery storage installations by grid operator or location",
        "tags": [
          "Assets"
        ],
        "responses": {
          "200": {
            "description": "Array of matching installations. Count/aggregation can be derived via response length (`array.length`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": true,
                    "properties": {
                      "Asset-ID": {
                        "type": "string"
                      },
                      "SEE Nummer": {
                        "type": "string"
                      },
                      "Anlagentyp": {
                        "type": "string"
                      },
                      "Leistung kW": {
                        "type": "number"
                      },
                      "Ort": {
                        "type": "string",
                        "nullable": true
                      },
                      "Postleitzahl": {
                        "type": "string",
                        "nullable": true
                      },
                      "Bundesland": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid parameters (at least one of vnbName, bdewCode, gridOperatorId or location is required)."
          },
          "500": {
            "description": "Internal server error during MaStR query."
          }
        },
        "description": "Retrieves battery storage installations from MaStR by grid operator context (`vnbName`, `bdewCode`, `gridOperatorId`) or directly by `location` (city/region/postal code). **Default: Only active installations (status 35).** Count semantics: this endpoint returns an array. For questions like \"How many ...\", use the number of returned items (`array.length`).",
        "parameters": [
          {
            "name": "vnbName",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Netze BW"
            },
            "description": "Name of grid operator"
          },
          {
            "name": "bdewCode",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "4041407000008"
            },
            "description": "BDEW code (13 digits)"
          },
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB948311994307"
            },
            "description": "MaStR grid operator ID"
          },
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "Heidelberg"
            },
            "description": "City/region/postal code for location-based search (e.g. \"Mainz\", \"69115\", \"Baden-Württemberg\"). Supports city-style queries like \"Welche Speicheranlagen gibt es in <Ort>?\"."
          },
          {
            "name": "commissioningYear",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 2020
            },
            "description": "Commissioning year"
          },
          {
            "name": "minCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 100
            },
            "description": "Min. capacity in kW"
          },
          {
            "name": "maxCapacityKW",
            "in": "query",
            "schema": {
              "type": "number",
              "example": 10000
            },
            "description": "Max. capacity in kW"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1000,
              "example": 1000
            },
            "description": "Max. number of results. Default: **1,000**. Use a high value (e.g. `1000000`) or `all` for the complete result set — the server paginates internally."
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 0,
              "minimum": 0,
              "example": 0
            },
[...]
