{
  "openapi": "3.0.0",
  "info": {
    "title": "Cernion Energy Tools API",
    "version": "0.99.10",
    "description": "MicroService Agent System for Energy Markets - REST API with AI integration.\n\nCERNION_TOKEN: request at https://cernion.de/ or by email: dev@stromdao.com.\n\nFor the public instance at https://api.cernion.de/, create your token at https://cernion.de/cet-token/."
  },
  "servers": [
    {
      "url": "https://api.cernion.de",
      "description": "Cernion API Server"
    }
  ],
  "tags": [
    {
      "name": "Energy",
      "description": "Energy market operations"
    },
    {
      "name": "Example",
      "description": "Example service endpoints"
    },
    {
      "name": "DataSources",
      "description": "Inhouse datasource registry, cache, and discovery"
    },
    {
      "name": "VNBMonitor",
      "description": "VNB (grid operator) KPI monitoring and alerts"
    },
    {
      "name": "NBPMonitor",
      "description": "Netzbetreiberprüfungs-Monitor (MaStR status 2955 queue KPIs)"
    },
    {
      "name": "IntegrationHub",
      "description": "Token management and integration helpers"
    },
    {
      "name": "Authentication",
      "description": "OIDC/SAML session bootstrap and verification"
    },
    {
      "name": "Tenant Quotas",
      "description": "Tenant quota snapshots, events, and admin overrides"
    },
    {
      "name": "Jobs",
      "description": "Async job status and result polling (v0.9.8+)"
    },
    {
      "name": "Datapoints",
      "description": "Managed data source points with lifecycle tracking and health monitoring (v0.11)"
    },
    {
      "name": "OSM Geo (OpenStreetMap)",
      "description": "Layer 2 Geo-Architecture: physical grid infrastructure from OpenStreetMap via the Overpass API. Complements authoritative VNBDigital data (Layer 1) with visible substations, transformers, and lines. Data: © OpenStreetMap contributors, ODbL 1.0 — https://opendatacommons.org/licenses/odbl/"
    },
    {
      "name": "OEP (Open Energy Platform)",
      "description": "Read-only access to Open Energy Platform research and scenario datasets. No authentication required for public tables. Supports schema/table discovery, column metadata, row queries, and full-text search. API: https://openenergyplatform.org/api/v0"
    },
    {
      "name": "Knowledge RAG",
      "description": "HyDE-aware RAG access with tenant-local ingestion and vector indexing. Supports semantic search, scroll/fetch/collection info, collection lifecycle, datasource/audit ingestion, and reindex/cutover."
    },
    {
      "name": "Finance Agent",
      "description": "Deterministic finance/regulatory analysis for VNBs (v0.40). Performs query planning, ontology-aware RAG retrieval, L1/L2 evidence arbitration, and guarded synthesis with audit trail."
    },
    {
      "name": "Personal Agent",
      "description": "Interactive personal chat orchestration (v0.52). Builds deterministic L0-L4 context stacks with strict token budgeting. Layer 4 is transient and never persisted."
    },
    {
      "name": "OpenAI Compatible",
      "description": "Inbound OpenAI-compatible facade for authenticated Cernion advisory completions."
    },
    {
      "name": "Actor Personas",
      "description": "Tenant-scoped actor persona registry for HITL routing, notification ownership, and persona-aware inbox delivery."
    },
    {
      "name": "Grid Connection Validation",
      "description": "Deterministic 6-step Netzanschluss validation pipeline (v0.14). Produces structured findings and a Go/No-Go decision sealed with a PouchDB snapshot for audit integrity. No LLM involvement — identical inputs always produce identical finding codes."
    },
    {
      "name": "Energy Sharing Validation",
      "description": "Deterministic 6-step Energy Sharing community validation pipeline (v0.15). Validates generator MaStR records, Direktvermarkter status (§ 21 Abs. 2 EEG), share allocations, and § 42c EnWG eligibility. Interims-Prozess for VNBs ahead of § 20b EnWG central platform. No LLM involvement — identical inputs always produce identical finding codes."
    },
    {
      "name": "Energy Sharing Allocation",
      "description": "Deterministic 6-step Energy Sharing allocation engine (v0.16). Computes per-consumer 15-min allocation time-series (§ 12 StromNZV) for § 42c EnWG communities. Stufe A: synthetic forecast via mastr_generation_forecast. Stufe B: real iMSys metering data via inhouse CSV upload. KRITIS-compliant: time-series computed in RAM, only metadata persisted. Interimsprozess operative deadline: 01.06.2026 (§ 20b EnWG)."
    },
    {
      "name": "MaStR Data Quality",
      "description": "Deterministic 8-step MaStR portfolio quality audit (v0.17). Audits the entire VNB portfolio in MaStR: VNB identity → full inventory → status anomalies → capacity anomalies → connection point integrity → duplicate detection → geo spot check → audit trail. Returns a qualityScore (0–100) across 5 weighted dimensions. No LLM involvement. Steps 3–7 independently skippable via skipSteps parameter."
    },
    {
      "name": "Redispatch Ex-Post",
      "description": "Deterministic 7-step Redispatch 2.0 Ex-Post settlement audit (v0.18). Cross-references MaStR portfolio (≥100 kW) with Netztransparenz curtailment data: VNB identity → portfolio inventory → master data validation → curtailment correlation → settlement readiness → financial risk assessment → audit trail. Returns settlementReadiness (% of installations ready for A96 settlement) and riskAssessment (estimated lost compensation in €). No LLM involvement. Regulatory basis: §§ 13, 13a EnWG, NABEG, StromNZV, Redispatch 2.0 (BDEW/BNetzA). Steps 3–6 independently skippable via skipSteps parameter."
    },
    {
      "name": "Dashboard API",
      "description": "UI-optimised aggregate endpoints (v0.19). Each endpoint consolidates 4–7 internal service calls into a single response, reducing the roundtrips required for an Enterprise UI dashboard page to one. Read-only — no side-effects, no own PouchDB. Endpoints: vnb-overview (VNB identity + KPIs + latest agent results), market-snapshot (spot prices + CO₂ + renewable forecast), quality-summary (recent reports from all agent pipelines), observability-mini (compact health/incidents/performance cards), finding-codes (complete 100-code reference with metadata for UI tooltips)."
    },
    {
      "name": "Observability",
      "description": "Read-only production feedback endpoints (v0.40.7) for captured service log output, action performance metrics, compact operational summaries, and an agent-ready debugging prompt. Data is retained locally in PouchDB with redaction-safe storage."
    },
    {
      "name": "Companies",
      "description": "Company entity management (v0.20.3). Groups multiple BDEW market-partner codes that belong to the same economic unit (Konzernverbund / Stadtwerk). Supports autoDiscover (cernion_market_partners query → draft → confirm flow) and manual member management. enrichResults enriches market-partner search results with companyId + marketRole."
    },
    {
      "name": "Zielnetzplanung (ZNP)",
      "description": "Stateful workspace API for target grid planning (v0.20.4). Each project is an in-memory graphology graph for a geographic bounding box. Data Layers are loaded iteratively: Layer 0 (MaStR assets), Layer 1 (OSM buildings — stub), Layer 2 (transformer loads — stub). All assets in Layer 0 connect to a virtual substation SUB_1 (MaStR has no topology). Graph state is persisted in PouchDB (meta + graph split docs) and hydrated on service start. Project metadata (bbox, layer counts) is persisted alongside graph topology."
    },
    {
      "name": "Object Store",
      "description": "Generic namespaced document store backed by PouchDB (v0.20.5). Provides CRUD and Mango-query operations for frontend persistence (ZNP workspaces, user settings, etc.) without backend schema changes. Documents are keyed as namespace:key; namespace isolation enforced in all queries."
    },
    {
      "name": "Cookbook",
      "description": "Reusable API workflow recipes (v0.20.5). Code-managed community cookbook with semantic lookup, runtime relation graph, and periodic validity checks against live microservice actions."
    },
    {
      "name": "Agent Receipts",
      "description": "Runtime-managed receipt documents (v0.54.0 foundation). PouchDB-backed CRUD, validation, lifecycle status transitions, and auditable soft-delete."
    },
    {
      "name": "CYA Agent",
      "description": "Stakeholder-perspective argumentation engine with regulatory grounding (v0.26). Generates data-backed, profile-aware narratives from Cernion microservice data + OEO regulatory context."
    },
    {
      "name": "EDM (Energiedatenmanagement)",
      "description": "Meter data management with SQLite-backed timeseries storage, MeLo registry, and measurement concepts (v0.28). KRITIS-compliant embedded storage with quarterly partitioning."
    },
    {
      "name": "SLP (Standardlastprofile)",
      "description": "Standard load profiles (BDEW H0/G0/L0) and custom profiles for load estimation, settlement, and forecast baseline."
    },
    {
      "name": "Settlement (Abrechnung)",
      "description": "Redispatch compensation (§13a/14 EnWG), EEG revenue calculation, and A96 settlement export. Based on EDM timeseries, generation forecasts, and ENTSO-E market prices with KRITIS fallbacks."
    },
    {
      "name": "Forecast (Prognostik)",
      "description": "Load forecasting (SLP-based with historical correction), generation forecasting (MCP with KRITIS fallback), residual load calculation, Day-Ahead scheduling, storage dispatch optimization, and forecast quality evaluation (RMSE/MAE/MAPE)."
    },
    {
      "name": "Flex (§14a Flexibilitätsmanagement)",
      "description": "Controllable consumption device management (§14a EnWG). SVE registry, dimming planning with grid capacity analysis, MQTT-based execution, Entlastungsnachweis, and tariff reduction."
    },
    {
      "name": "MaStR Monitor",
      "description": "MaStR installation change monitoring with field-level delta detection and email notifications (v0.27). Watches track changes to MaStR installations based on saved queries with configurable schedules."
    },
    {
      "name": "HITL",
      "description": "Human-in-the-loop approval workflow with tenant-scoped review items, intervention trail, and lifecycle events."
    },
    {
      "name": "Investment Planning",
      "description": "Deterministic investment planning and budget steering (v0.51.2) with hybrid Soll baselines, Redispatch Ex-Post Ist comparison, mandate alignment checks, and >1M EUR HITL triggers."
    },
    {
      "name": "Blindflug Radar",
      "description": "Deterministic disturbance-to-investment signal correlation (v0.51.3) using Redispatch, MaStR monitor deltas, and quality findings with confidence-threshold auto-proposals."
    },
    {
      "name": "Netzfahrplan / fNAV",
      "description": "Deterministic fNAV feasibility assessment (v0.51.5): capacity model (firm + flexible + curtailment), N-1 check with hybrid threshold (domain default + tenant/project/scenario override), technical feasibility verdict, governance gate (Option B: requires_governance_decision until legal + contract prerequisites met), and TOTEX-based economics with eog-calculator integration."
    },
    {
      "name": "Webhooks",
      "description": "Outbound webhook subscriptions with signed delivery, retry backoff, replay, and dead-letter tracking."
    },
    {
      "name": "Interface Placeholder",
      "description": "Explicit gap markers for unresolved interfaces, evidence, and ownership"
    }
  ],
  "paths": {
    "/api/connection-rejection-evidence/packages": {
      "get": {
        "operationId": "connectionRejectionEvidenceList",
        "summary": "List connection rejection evidence packages",
        "tags": [
          "connection-rejection-evidence"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "description": "Returns all connection rejection evidence packages. Read-only."
      }
    },
    "/api/connection-rejection-evidence/packages/{id}": {
      "get": {
        "operationId": "connectionRejectionEvidenceGet",
        "summary": "Get a connection rejection evidence package by ID",
        "tags": [
          "connection-rejection-evidence"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "description": "Returns a single connection rejection evidence package with full details. Read-only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot-process/vdmi/{matrixId}/context": {
      "get": {
        "operationId": "getVdmiContext",
        "summary": "Load VDMI matrix context: status, open tasks, evidence count",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "VDMI matrix context",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "matrixId",
                    "name",
                    "status",
                    "openTaskCount",
                    "summary"
                  ],
                  "properties": {
                    "matrixId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "processType": {
                      "type": "string",
                      "nullable": true
                    },
                    "nominationStatus": {
                      "type": "string",
                      "nullable": true
                    },
                    "openTaskCount": {
                      "type": "integer",
                      "example": 2
                    },
                    "totalTaskCount": {
                      "type": "integer",
                      "example": 5
                    },
                    "evidenceCount": {
                      "type": "integer",
                      "example": 1
                    },
                    "findingCount": {
                      "type": "integer",
                      "example": 0
                    },
                    "scope": {
                      "type": "string",
                      "nullable": true
                    },
                    "regulatoryBasis": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string",
                      "description": "Human-readable status summary"
                    },
                    "detailUrl": {
                      "type": "string",
                      "example": "/api/vdmi/vdmi-abc123"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Matrix not found"
          }
        },
        "description": "Returns full VDMI matrix context for Copilot: status, open tasks, nomination state, evidence count, and regulatory basis. When to use: Before proposing any VDMI process action, load context to understand current state. Read-only: No state is changed.",
        "parameters": [
          {
            "name": "matrixId",
            "in": "path",
            "required": true,
            "description": "VDMI matrix instance ID",
            "schema": {
              "type": "string",
              "example": "vdmi-abc123"
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/vdmi/responsibilities": {
      "get": {
        "operationId": "listOpenResponsibilities",
        "summary": "List VDMI matrices with open Verantwortlich tasks for a user",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Open responsibilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "responsibilities"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "responsibilities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "matrixId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "openTaskCount": {
                            "type": "integer"
                          },
                          "nominationStatus": {
                            "type": "string",
                            "nullable": true
                          },
                          "detailUrl": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns VDMI matrices where the specified user (or authenticated caller) holds open Verantwortlich tasks. If userId is not supplied, falls back to listing all active matrices with at least one open task. Read-only: No state is changed.",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "description": "Actor ID to filter responsibilities for (defaults to authenticated caller)",
            "schema": {
              "type": "string",
              "example": "grid_operator"
            }
          },
          {
            "name": "processType",
            "in": "query",
            "required": false,
            "description": "Filter by process type",
            "schema": {
              "type": "string",
              "example": "adhoc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 20
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/znp/{projectId}/status": {
      "get": {
        "operationId": "getZnpProjectStatus",
        "summary": "Get ZNP project metadata and graph statistics",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "ZNP project status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "projectId",
                    "name",
                    "layers",
                    "graphStats"
                  ],
                  "properties": {
                    "projectId": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "layers": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "graphStats": {
                      "type": "object",
                      "properties": {
                        "nodes": {
                          "type": "integer"
                        },
                        "edges": {
                          "type": "integer"
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "detailUrl": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        },
        "description": "Returns ZNP project metadata: name, loaded layers, node/edge counts, bounding box, and creation timestamp. Read-only: No state is changed.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "description": "ZNP project UUID",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4-0000-0000-0000-000000000001"
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/grid-connection/{validationId}": {
      "get": {
        "operationId": "getGridConnectionValidation",
        "summary": "Retrieve grid connection validation report (decision, findings, operator)",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Validation report summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "validationId",
                    "decision",
                    "gridOperatorName",
                    "summary"
                  ],
                  "properties": {
                    "validationId": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string",
                      "nullable": true
                    },
                    "gridOperatorName": {
                      "type": "string"
                    },
                    "gridOperatorId": {
                      "type": "string",
                      "nullable": true
                    },
                    "findingsCount": {
                      "type": "integer"
                    },
                    "createdAt": {
                      "type": "string",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "detailUrl": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Validation not found"
          }
        },
        "description": "Returns a specific grid connection validation report including decision, findings, and grid operator details. Read-only: No state is changed.",
        "parameters": [
          {
            "name": "validationId",
            "in": "path",
            "required": true,
            "description": "Validation report UUID",
            "schema": {
              "type": "string",
              "example": "a1b2c3d4-1234-5678-90ab-cdef12345678"
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/vdmi/{matrixId}/prepare-validation": {
      "post": {
        "operationId": "prepareVdmiValidation",
        "summary": "Prepare VDMI matrix nomination — draft only, no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Draft nomination proposal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "draftId",
                    "action",
                    "target",
                    "summary",
                    "requiredConfirmation",
                    "auditTrail"
                  ],
                  "properties": {
                    "draftId": {
                      "type": "string",
                      "description": "Unique ID of this draft"
                    },
                    "action": {
                      "type": "string",
                      "example": "nominate_vdmi_matrix"
                    },
                    "target": {
                      "type": "object",
                      "properties": {
                        "matrixId": {
                          "type": "string"
                        },
                        "matrixName": {
                          "type": "string"
                        },
                        "currentStatus": {
                          "type": "string"
                        }
                      }
                    },
                    "proposedChange": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "nominationStatus": {
                          "type": "string"
                        }
                      }
                    },
                    "warningIfAny": {
                      "type": "string",
                      "nullable": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "confirmationMessage": {
                      "type": "string"
                    },
                    "requiredConfirmation": {
                      "type": "boolean",
                      "example": true
                    },
                    "readyToExecute": {
                      "type": "boolean"
                    },
                    "consequentialAction": {
                      "type": "object",
                      "description": "The Phase 3 execute action that would perform this change",
                      "properties": {
                        "operationId": {
                          "type": "string",
                          "example": "executeVdmiNomination"
                        },
                        "note": {
                          "type": "string"
                        }
                      }
                    },
                    "auditTrail": {
                      "type": "object",
                      "properties": {
                        "requestedAt": {
                          "type": "string"
                        },
                        "requestedBy": {
                          "type": "string"
                        },
                        "correlationId": {
                          "type": "string"
                        },
                        "idempotencyKey": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Matrix not found"
          },
          "422": {
            "description": "Matrix status does not allow nomination"
          }
        },
        "description": "Analyses the VDMI matrix and returns a draft nomination proposal. No writes: This action creates no persisted state. The returned draft must be explicitly confirmed by a consequential execute action (Phase 3). Set requiredConfirmation: true in the response means Copilot must ask the user to confirm before proceeding.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "matrixId",
                  "reason"
                ],
                "properties": {
                  "matrixId": {
                    "type": "string",
                    "description": "VDMI matrix ID",
                    "example": "vdmi-abc123"
                  },
                  "reason": {
                    "type": "string",
                    "description": "Business reason for the nomination",
                    "example": "Netzanschluss fristgerecht abgeschlossen",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Caller-supplied trace ID for audit logging",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "description": "Prevents duplicate submissions on retries",
                    "example": "idem-abc123-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "matrixId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot-process/vdmi/{matrixId}/draft-evidence": {
      "post": {
        "operationId": "draftVdmiEvidence",
        "summary": "Draft evidence suggestions for open VDMI tasks — no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Evidence draft with per-task suggestions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "draftId",
                    "action",
                    "target",
                    "evidenceSuggestions",
                    "summary",
                    "auditTrail"
                  ],
                  "properties": {
                    "draftId": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string",
                      "example": "draft_evidence_for_vdmi"
                    },
                    "target": {
                      "type": "object",
                      "properties": {
                        "matrixId": {
                          "type": "string"
                        },
                        "matrixName": {
                          "type": "string"
                        }
                      }
                    },
                    "evidenceSuggestions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "taskIndex": {
                            "type": "integer"
                          },
                          "taskLabel": {
                            "type": "string"
                          },
                          "suggestedEvidenceType": {
                            "type": "string"
                          },
                          "suggestion": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "openTaskCount": {
                      "type": "integer"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "requiredConfirmation": {
                      "type": "boolean",
                      "example": false
                    },
                    "auditTrail": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Matrix not found"
          }
        },
        "description": "Analyses open VDMI tasks and returns structured evidence suggestions for each. No writes: This returns suggestions only. No evidence is added to the matrix. Use POST /api/vdmi/:id/evidence (Phase 3) to actually inject evidence.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "matrixId"
                ],
                "properties": {
                  "matrixId": {
                    "type": "string",
                    "example": "vdmi-abc123"
                  },
                  "correlationId": {
                    "type": "string",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "example": "idem-abc123-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "matrixId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot-process/grid-connection/prepare-validation": {
      "post": {
        "operationId": "prepareGridConnectionValidation",
        "summary": "Prepare grid connection validation config — draft only, no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Grid connection validation draft proposal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "draftId",
                    "action",
                    "target",
                    "proposedValidation",
                    "summary",
                    "requiredConfirmation",
                    "auditTrail"
                  ],
                  "properties": {
                    "draftId": {
                      "type": "string"
                    },
                    "action": {
                      "type": "string",
                      "example": "run_grid_connection_validation"
                    },
                    "target": {
                      "type": "object",
                      "properties": {
                        "gridOperatorId": {
                          "type": "string",
                          "nullable": true
                        },
                        "gridOperatorBdew": {
                          "type": "string",
                          "nullable": true
                        },
                        "gridOperatorName": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    },
                    "proposedValidation": {
                      "type": "object",
                      "description": "Parameters that would be passed to the consequential execute action"
                    },
                    "summary": {
                      "type": "string"
                    },
                    "confirmationMessage": {
                      "type": "string"
                    },
                    "requiredConfirmation": {
                      "type": "boolean",
                      "example": true
                    },
                    "consequentialAction": {
                      "type": "object"
                    },
                    "auditTrail": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "No grid operator identifier supplied"
          }
        },
        "description": "Validates the input parameters and returns a draft validation configuration. No writes: This action has no side effects. The returned proposal must be confirmed before the actual 6-step pipeline is started. At least one of gridOperatorId, gridOperatorBdew, or gridOperatorName is required. The consequential execute action (POST /api/grid-connection/validate) is Phase 3.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "gridOperatorId": {
                    "type": "string",
                    "example": "SNB935578300972"
                  },
                  "gridOperatorBdew": {
                    "type": "string",
                    "example": "9907473000008"
                  },
                  "gridOperatorName": {
                    "type": "string",
                    "example": "STROMDAO Netze"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "Jahresprüfung Q2 2026"
                  },
                  "includeCapacityCheck": {
                    "type": "boolean",
                    "default": false
                  },
                  "correlationId": {
                    "type": "string",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "example": "idem-stromdao-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/vdmi/{matrixId}/intents/evidence": {
      "post": {
        "operationId": "prepareVdmiEvidence",
        "summary": "Prepare VDMI evidence injection intent — creates auditable intent, no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "VDMI evidence intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "intentId",
                    "operationFamily",
                    "proposedAction",
                    "status",
                    "requiresHumanConfirmation"
                  ],
                  "properties": {
                    "intentId": {
                      "type": "string"
                    },
                    "operationFamily": {
                      "type": "string",
                      "example": "vdmi"
                    },
                    "proposedAction": {
                      "type": "string",
                      "example": "inject_evidence"
                    },
                    "target": {
                      "type": "object"
                    },
                    "inputSummary": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending_confirmation"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "risk": {
                      "type": "string",
                      "example": "medium"
                    },
                    "requiresHumanConfirmation": {
                      "type": "boolean",
                      "example": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "confirmationMessage": {
                      "type": "string"
                    },
                    "executeVia": {
                      "type": "object"
                    },
                    "auditTrail": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Matrix not found"
          }
        },
        "description": "Verifies the VDMI matrix exists and creates a persistent ProcessExecutionIntent for evidence injection. No evidence is written. Returns intentId, expiresAt, and confirmationMessage. Execute via executeProcessIntent outside Copilot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "matrixId",
                  "evidenceType",
                  "reference",
                  "reason"
                ],
                "properties": {
                  "matrixId": {
                    "type": "string",
                    "example": "vdmi-abc123"
                  },
                  "evidenceType": {
                    "type": "string",
                    "minLength": 2,
                    "example": "aktenvermerk"
                  },
                  "reference": {
                    "type": "string",
                    "minLength": 2,
                    "example": "REF-2026-001"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "Jahresprüfung abgeschlossen"
                  },
                  "content": {
                    "type": "object",
                    "description": "Optional additional content payload"
                  },
                  "correlationId": {
                    "type": "string",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "example": "idem-vdmi-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "matrixId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot-process/znp/{projectId}/intents/assumption": {
      "post": {
        "operationId": "prepareZnpAssumption",
        "summary": "Prepare ZNP planning assumption intent — creates auditable intent, no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "ZNP assumption intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "intentId",
                    "operationFamily",
                    "proposedAction",
                    "status",
                    "requiresHumanConfirmation"
                  ],
                  "properties": {
                    "intentId": {
                      "type": "string"
                    },
                    "operationFamily": {
                      "type": "string",
                      "example": "znp"
                    },
                    "proposedAction": {
                      "type": "string",
                      "example": "add_assumption"
                    },
                    "target": {
                      "type": "object"
                    },
                    "inputSummary": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending_confirmation"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "risk": {
                      "type": "string",
                      "example": "medium"
                    },
                    "requiresHumanConfirmation": {
                      "type": "boolean",
                      "example": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "confirmationMessage": {
                      "type": "string"
                    },
                    "executeVia": {
                      "type": "object"
                    },
                    "auditTrail": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Project not found"
          }
        },
        "description": "Verifies the ZNP project exists and creates a persistent ProcessExecutionIntent for adding a planning assumption. No write occurs. Returns intentId, expiresAt, and confirmationMessage. Execute via executeProcessIntent outside Copilot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "projectId",
                  "text",
                  "reason"
                ],
                "properties": {
                  "projectId": {
                    "type": "string",
                    "example": "znp-proj-001"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 2000,
                    "example": "Annahme: Netzkapazität ausreichend für Q3 2026"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "Planungsstand Q2 2026"
                  },
                  "correlationId": {
                    "type": "string",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "example": "idem-znp-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot-process/connection-rejection-evidence/intents": {
      "post": {
        "operationId": "prepareConnectionRejectionEvidence",
        "summary": "Prepare connection rejection evidence package intent — creates auditable intent, no write",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Connection rejection evidence intent created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "intentId",
                    "operationFamily",
                    "proposedAction",
                    "status",
                    "requiresHumanConfirmation"
                  ],
                  "properties": {
                    "intentId": {
                      "type": "string"
                    },
                    "operationFamily": {
                      "type": "string",
                      "example": "connectionRejectionEvidence"
                    },
                    "proposedAction": {
                      "type": "string",
                      "example": "create_package"
                    },
                    "target": {
                      "type": "object"
                    },
                    "inputSummary": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "example": "pending_confirmation"
                    },
                    "expiresAt": {
                      "type": "string"
                    },
                    "risk": {
                      "type": "string",
                      "example": "medium"
                    },
                    "requiresHumanConfirmation": {
                      "type": "boolean",
                      "example": true
                    },
                    "summary": {
                      "type": "string"
                    },
                    "confirmationMessage": {
                      "type": "string"
                    },
                    "executeVia": {
                      "type": "object"
                    },
                    "auditTrail": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Validates all required fields and creates a persistent ProcessExecutionIntent for creating a connection rejection evidence package. No write occurs. Returns intentId, expiresAt, and confirmationMessage. Execute via executeProcessIntent outside Copilot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gridOperatorId",
                  "applicantReference",
                  "loadAssumptionKw",
                  "netzverknuepfungspunktId",
                  "voltageLevel",
                  "bottleneckDescription",
                  "n1QualityStatus",
                  "decision",
                  "reason"
                ],
                "properties": {
                  "gridOperatorId": {
                    "type": "string",
                    "example": "SNB935578300972"
                  },
                  "applicantReference": {
                    "type": "string",
                    "example": "APP-2026-001"
                  },
                  "loadAssumptionKw": {
                    "type": "number",
                    "example": 150
                  },
                  "netzverknuepfungspunktId": {
                    "type": "string",
                    "example": "NVP-001"
                  },
                  "voltageLevel": {
                    "type": "string",
                    "example": "NS"
                  },
                  "bottleneckDescription": {
                    "type": "string",
                    "example": "Trafoüberlastung bei Spitzenlast"
                  },
                  "n1QualityStatus": {
                    "type": "string",
                    "enum": [
                      "COMPLIANT",
                      "NON_COMPLIANT",
                      "CONDITIONALLY_COMPLIANT",
                      "UNKNOWN"
                    ]
                  },
                  "decision": {
                    "type": "string",
                    "example": "REJECTED"
                  },
                  "reason": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500,
                    "example": "Netzkapazität nicht ausreichend"
                  },
                  "correlationId": {
                    "type": "string",
                    "example": "req-2026-001"
                  },
                  "idempotencyKey": {
                    "type": "string",
                    "example": "idem-cre-20260611"
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/intents": {
      "get": {
        "operationId": "listProcessIntents",
        "summary": "List process execution intents, optionally filtered by family or status",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "List of process execution intents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "count",
                    "intents"
                  ],
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "intents": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns a paginated list of process execution intents. Filter by operationFamily, status, or decisionFrameId. Read-only.",
        "parameters": [
          {
            "name": "operationFamily",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "decisionFrameId",
            "in": "query",
            "required": false,
            "description": "Filter by SCQA decision frame ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/copilot-process/intents/{intentId}": {
      "get": {
        "operationId": "getProcessIntent",
        "summary": "Get a process execution intent by ID (status, payload, audit trail)",
        "tags": [
          "Copilot Process"
        ],
        "responses": {
          "200": {
            "description": "Process execution intent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "404": {
            "description": "Intent not found"
          }
        },
        "description": "Returns intent status, payload summary, and audit trail. Read-only.",
        "parameters": [
          {
            "name": "intentId",
            "in": "path",
            "required": true,
            "description": "Intent UUID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/grid-connection/validations": {
      "get": {
        "operationId": "gridConnectionList",
        "summary": "List past grid connection validation reports",
        "tags": [
          "Grid Connection Validation"
        ],
        "responses": {
          "200": {
            "description": "Paginated list of validation report summaries",
            "content": {
              "application/json": {
                "example": {
                  "count": 3,
                  "validations": [
                    {
                      "id": "...",
                      "gridOperator": {
                        "name": "STROMDAO Netze"
                      },
                      "decision": "GO_CONDITIONAL",
                      "createdAt": "2026-03-30T..."
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Returns validation reports stored in the system, newest first. Optionally filter by grid operator ID. Read-only.",
        "parameters": [
          {
            "name": "gridOperatorId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SNB935578300972"
            },
            "description": "Filter by MaStR grid operator ID"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            },
            "description": "Maximum number of results"
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "eyJvZmZzZXQiOjIwfQ=="
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "example": 0
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/grid-connection/validations/{id}": {
      "get": {
        "operationId": "gridConnectionGet",
        "summary": "Get a specific grid connection validation report by ID",
        "tags": [
          "Grid Connection Validation"
        ],
        "responses": {
          "200": {
            "description": "Full ValidationReport document"
          },
          "404": {
            "description": "Validation not found"
          }
        },
        "description": "Returns the full validation report including all findings and decision. Read-only.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a1b2c3d4-1234-5678-90ab-cdef12345678"
            },
            "description": "Validation report UUID"
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/query/search": {
      "post": {
        "operationId": "searchCernionData",
        "summary": "Cross-domain entity search (companies, VNB, VDMI, ZNP, grid connection, EDM)",
        "tags": [
          "Query Tools",
          "Copilot"
        ],
        "responses": {
          "200": {
            "description": "Search results from matched domains",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "query": {
                      "type": "string",
                      "description": "The original search term"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "companies",
                        "vnb",
                        "edm",
                        "vdmi",
                        "grid_connection",
                        "znp",
                        "all"
                      ]
                    },
                    "totalResults": {
                      "type": "integer"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "required": [
                    "query",
                    "domain",
                    "totalResults",
                    "results"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Validation error"
          }
        },
        "description": "Search Cernion entities. Provide q as the required search term. Use domain=vnb for distribution grid operator lookup. Read-only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200,
                    "description": "Required search term, such as a city, company, VNB, VDMI matrix, ZNP project, grid operator, or MeLo ID.",
                    "example": "Wiesloch"
                  },
                  "domain": {
                    "type": "string",
                    "enum": [
                      "companies",
                      "vnb",
                      "edm",
                      "vdmi",
                      "grid_connection",
                      "znp",
                      "all"
                    ],
                    "default": "all",
                    "description": "Optional search domain. Use vnb to find distribution grid operators.",
                    "example": "vnb"
                  },
                  "limit": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 25,
                    "default": 10,
                    "description": "Optional maximum number of results.",
                    "example": 5
                  }
                },
                "required": [
                  "q"
                ]
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    },
    "/api/vdmi/my-responsibilities": {
      "get": {
        "operationId": "vdmi_myResponsibilities",
        "summary": "List VDMI matrices where the caller has Verantwortlich (V) role",
        "tags": [
          "VDMI"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "grid_operator"
            }
          }
        ],
        "x-openai-isConsequential": false,
        "description": "Returns VDMI matrices where the authenticated caller holds a Verantwortlich responsibility. Read-only."
      }
    },
    "/api/vdmi/context": {
      "get": {
        "operationId": "vdmi_context",
        "summary": "Get active VDMI matrix context for a running process job",
        "tags": [
          "VDMI"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "job-123"
            }
          }
        ],
        "x-openai-isConsequential": false,
        "description": "Returns the active VDMI matrix context for a currently running process job. Read-only."
      }
    },
    "/api/vdmi/tasks/{taskId}/dossier": {
      "get": {
        "operationId": "vdmi_dossier",
        "summary": "Get condensed decision dossier for a VDMI task (V-role view)",
        "tags": [
          "VDMI"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "task-01"
            }
          }
        ],
        "x-openai-isConsequential": false,
        "description": "Returns the condensed decision dossier for a VDMI task. Intended for the Verantwortlich actor. Read-only."
      }
    },
    "/api/vdmi/findings": {
      "get": {
        "operationId": "vdmi_findings",
        "summary": "List VDMI governance findings",
        "tags": [
          "VDMI"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "H"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "open"
            }
          },
          {
            "name": "code",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "VD_GOV_RECURRENCE_K"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 100
            }
          }
        ],
        "x-openai-isConsequential": false,
        "description": "Returns VDMI governance findings for the current tenant. Read-only."
      }
    },
    "/api/znp/projects": {
      "get": {
        "operationId": "znp_listProjects",
        "summary": "List all active ZNP workspace projects",
        "tags": [
          "Zielnetzplanung (ZNP)"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns all projects currently held in the in-memory activeGraphs Map. As of v0.23, graphs are hydrated from PouchDB on service start, so this list is populated even after a server restart.",
        "x-openai-isConsequential": false
      }
    },
    "/api/znp/projects/{projectId}/assets": {
      "get": {
        "operationId": "znp_getProjectAssets",
        "summary": "List Layer 0 MaStR assets loaded into a ZNP project",
        "tags": [
          "Zielnetzplanung (ZNP)"
        ],
        "responses": {
          "200": {
            "description": "Paginated asset list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCount": {
                      "type": "integer",
                      "example": 42
                    },
                    "offset": {
                      "type": "integer",
                      "example": 0
                    },
                    "limit": {
                      "type": "integer",
                      "example": 100
                    },
                    "assets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "mastrNummer": {
                            "type": "string",
                            "example": "SEE900123456789"
                          },
                          "capacity": {
                            "type": "number",
                            "example": 10.5
                          },
                          "assetType": {
                            "type": "string",
                            "example": "solar"
                          },
                          "status": {
                            "type": "string",
                            "example": "InBetrieb",
                            "nullable": true
                          },
                          "commissioningDate": {
                            "type": "string",
                            "example": "2024-06-15",
                            "nullable": true
                          },
                          "lat": {
                            "type": "number",
                            "example": 49.491,
                            "nullable": true
                          },
                          "lon": {
                            "type": "number",
                            "example": 8.471,
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Returns paginated Layer 0 MaStR assets (generators, storage, loads) for a ZNP project. Read-only.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a1b2c3d4-0000-0000-0000-000000000001"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "InBetrieb"
            },
            "description": "Filter by asset status (exact string match)."
          },
          {
            "name": "assetType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "example": "solar"
            },
            "description": "Filter by asset type (exact string match)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000,
              "example": 100
            },
            "description": "Maximum number of results to return (1–1000)."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0,
              "example": 0
            },
            "description": "Zero-based offset for pagination."
          },
          {
            "name": "sortByCapacity",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc",
              "example": "desc"
            },
            "description": "Sort direction by capacity (kW). Default: desc (highest capacity first)."
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/znp/projects/{projectId}": {
      "get": {
        "operationId": "znp_getProjectMeta",
        "summary": "Get ZNP project metadata and graph statistics",
        "tags": [
          "Zielnetzplanung (ZNP)"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "description": "Returns the project metadata (bbox, name, createdAt, loaded layers) and live graph statistics (node count, edge count) from the in-memory graph. As of v0.23, graphs are persisted and hydrated on restart — 404 should not occur unless the project was explicitly deleted from PouchDB.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "a1b2c3d4-0000-0000-0000-000000000001"
            }
          }
        ],
        "x-openai-isConsequential": false
      }
    },
    "/api/vdmi/tenants/{tenantId}/findings": {
      "get": {
        "operationId": "vdmiFindingsList",
        "summary": "List VDMI findings (multi-tenant path)",
        "tags": [
          "vdmi-findings"
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false,
        "description": "Returns VDMI governance findings scoped to a specific tenant. Read-only.",
        "parameters": [
          {
            "name": "tenantId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/copilot/ask-cernion-agent": {
      "post": {
        "operationId": "askCernionAgent",
        "summary": "Ask Cernion for compact evidence and process context",
        "tags": [
          "Personal Agent"
        ],
        "responses": {
          "200": {
            "description": "Compact Cernion answer for Copilot composition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "shortAnswer",
                    "groundingAnswer",
                    "evidence",
                    "processContext",
                    "openQuestions",
                    "recommendedNextSteps",
                    "allowedActions",
                    "forbiddenActions"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "sessionId": {
                      "type": "string"
                    },
                    "question": {
                      "type": "string"
                    },
                    "shortAnswer": {
                      "type": "string"
                    },
                    "groundingAnswer": {
                      "type": "string",
                      "description": "Prompt-ready Cernion grounding package for Copilot composition. Contains user question, answer, evidence, guardrails, risks, open questions and answer rules in one text field."
                    },
                    "consultingBrief": {
                      "type": "string",
                      "description": "Optional backend-generated consulting brief for Copilot. It structures the evidence but is not a standalone source of facts."
                    },
                    "confidence": {
                      "type": "string",
                      "enum": [
                        "high",
                        "medium",
                        "low"
                      ]
                    },
                    "evidence": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "source": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          },
                          "retrievalHint": {
                            "type": "string",
                            "description": "Optional vector/retrieval text for topic orientation; not standalone answer evidence."
                          }
                        }
                      }
                    },
                    "processContext": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "evidenceBySource": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Evidence grouped by source: entities, knowledge, datapoints, and object-store objects."
                    },
                    "guardrails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Instructions Copilot must apply before composing the final answer."
                    },
                    "entities": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "risks": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "openQuestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "recommendedNextSteps": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "allowedActions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "forbiddenActions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "routing": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "resolved": {
                      "type": "object",
                      "description": "Blueprint/Capability resolution outcome (energychain/cernion-energy-tools#271). kind is \"blueprint\" when a read-only execution plan was compiled, \"none\" otherwise.",
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "blueprint",
                            "none"
                          ]
                        },
                        "id": {
                          "type": "string"
                        },
                        "version": {
                          "type": "string"
                        },
                        "source": {
                          "type": "string"
                        }
                      }
                    },
                    "canonicalInputs": {
                      "type": "object",
                      "additionalProperties": true,
                      "description": "Normalized inputs used to compile the execution plan, if any."
                    },
                    "recommendedEndpoints": {
                      "type": "array",
                      "description": "Read-only endpoint recommendations (energychain/cernion-energy-tools#271 architecture follow-up). Cernion recommends which approved read-only endpoint(s) are the evidence surface for this request and what each result set means fachlich — it does not execute them or synthesize a final answer; that is the responsibility of the consuming agent/orchestrator. May contain more than one complementary endpoint.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "method": {
                            "type": "string",
                            "example": "GET"
                          },
                          "path": {
                            "type": "string",
                            "example": "/api/assets/solar"
                          },
                          "query": {
                            "type": "object",
                            "additionalProperties": true
                          },
                          "resultSemantics": {
                            "type": "object",
                            "description": "Fachliche Bedeutung des Result-Sets dieses Endpoints.",
                            "properties": {
                              "kind": {
                                "type": "string",
                                "example": "asset_list"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "execution": {
                      "type": "object",
                      "nullable": true,
                      "description": "Alias of recommendedEndpoints[0] for backward compatibility with #271 consumers that only read a single plan, or null when none is available.",
                      "properties": {
                        "mode": {
                          "type": "string",
                          "example": "read_only_rest_plan"
                        },
                        "method": {
                          "type": "string",
                          "example": "GET"
                        },
                        "path": {
                          "type": "string",
                          "example": "/api/assets/solar"
                        },
                        "query": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    },
                    "policy": {
                      "type": "object",
                      "properties": {
                        "readOnly": {
                          "type": "boolean"
                        },
                        "sideEffects": {
                          "type": "string"
                        },
                        "tenantScoped": {
                          "type": "boolean"
                        },
                        "externalSideEffects": {
                          "type": "boolean"
                        }
                      }
                    },
                    "noPlanReason": {
                      "type": "string",
                      "description": "Present when resolved.kind is \"none\" — explains why no executable read-only plan was available."
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Use this read-only action first for Cernion questions. It returns compact evidence, process context, risks, open questions and next steps. Copilot should use the structure to compose the final user-facing answer. It never executes, confirms, signs, deletes or modifies process data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "question"
                ],
                "properties": {
                  "question": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 8000,
                    "description": "User question to answer with Cernion evidence and process context.",
                    "example": "Welcher VNB ist in Wiesloch zuständig?"
                  },
                  "sessionId": {
                    "type": "string",
                    "description": "Optional stable Copilot conversation/session identifier."
                  },
                  "context": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional tenant, user, object, process or document context."
                  },
                  "inputs": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Optional canonical structured input values (e.g. assetType, location, minCapacity, maxCapacity, commissioningYear, limit) for Blueprint read-only REST-plan compilation. Separate from context.",
                    "example": {
                      "assetType": "solar",
                      "location": "69168",
                      "minCapacity": 10,
                      "maxCapacity": 13,
                      "commissioningYear": 2025,
                      "limit": 100
                    }
                  },
                  "domain": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "vnb",
                      "vdmi",
                      "znp",
                      "grid-connection",
                      "edm",
                      "finance",
                      "process"
                    ],
                    "default": "auto",
                    "description": "Optional domain hint for routing."
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "answer",
                      "evidence",
                      "process_check",
                      "prepare_intent"
                    ],
                    "default": "answer",
                    "description": "Controls whether the answer should focus on evidence or process checks."
                  },
                  "maxEvidence": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 12,
                    "default": 5,
                    "description": "Maximum number of evidence items returned."
                  },
                  "includeFederatedKnowledge": {
                    "type": "boolean",
                    "default": false,
                    "description": "Opt-in only (default false, does not change the default evidence sources/output shape). When true, additionally queries knowledge-rag.federatedSearch (Marktkommunikation/regulatory collections) and includes it as an advisory evidenceBySource.federatedKnowledge entry."
                  }
                }
              }
            }
          }
        },
        "x-openai-isConsequential": false
      }
    }
  },
  "x-generator": "scripts/export-openapi.js",
  "x-version": "0.99.10",
  "x-copilot-subset": true,
  "x-copilot-operations-version": 26
}